*
  box-sizing: border-box
body 
  margin: 0
  padding: 50px
  font-family: 'Montserrat', sans-serif
.gallery-container
  max-width: 1200px
  margin: 0 auto
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
  grid-column-gap: 10px
  grid-row-gap: 10px
.gallery-container__image-wrapper
  position: relative
  height: 225px
  cursor: pointer
.gallery-container__image-wrapper::before, .gallery-container__image-wrapper::after
  content: ""
  position: absolute
  background-color: transparent
  right: 0
  bottom: 0
  left: 0
  top: 0
  transition: border 0.4s
.gallery-container__image-wrapper::before
  border: 16px solid rgba(0, 0, 0, 0.4)
.gallery-container__image-wrapper::after
  border: 0px solid rgba(0, 0, 0, 0.4)
.gallery-container__image-wrapper:hover::after
  border: 32px solid rgba(0, 0, 0, 0.4)
.gallery-container__image
  width: 100%
  height: 225px
.gallery-container__image-wrapper figcaption
  color: #ffffff
  font-size: 0.7em
  letter-spacing: 1px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  padding: 8px 15px
  opacity: 0
  transition: 0.4s opacity
.gallery-container__image-wrapper:hover figcaption
  opacity: 1
.gallery-container__image-wrapper figcaption:after, .gallery-container__image-wrapper figcaption:before
  content: ""
  position: absolute
  background-color: rgba(0, 0, 0, 0.5)
  height: 50px
  width: 80px
  opacity: 0
  transition: transform 0.4s, opacity 0.4s
  z-index: -1
.gallery-container__image-wrapper
  figcaption:after
    transform: translate(80%, 80%)
    bottom: 0
    right: 0
  figcaption:before
    left: 0
    top: 0
    transform: translate(-80%, -80%)
  &:hover
    figcaption:after, figcaption:before
       transform: translate(0%, 0%)
       opacity: 1
//---Lightbox ---//
.lightbox-container--open, .lightbox-container--close
  position: fixed
  justify-content: center
  align-items: center
  top: 0
  left: 0
  width: 100%
  height: 100%
.lightbox-container--open
  display: flex
  background-color: rgba(0, 0, 0, 0.8)
.lightbox-container--close
  display: none
.lightbox-container__overlay
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  padding: 0 60px
  background-color: rgba(0, 0, 0, 0.8)
  width: 800px
.lightbox-container__lightbox--image
  max-width: 100%
.lightbox-container__close-button
  position: absolute
  font-size: 2em
  text-align: center
  color: #ffffff
  height: 45px
  width: 45px
  right: 40px
  top: 5px
  cursor: pointer
  transition: transform 0.4s
  &:hover
    transform: scale(1.2)